<!DOCTYPE html>
  <html ng-app="app">
    <head>
      <meta charset="utf-8">
      <title>Yami - Bienvenido</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
      <link rel="stylesheet" text="text/css" href="css/style.css">
    </head>
    <body ng-controller="UsersController">
      <form name="userCode" action="/ingreso/#{phone}" method="POST">
        <div class="yami">
          <div class="form-group">
            <img src="img/logo-yami.jpg" alt="Logo Yami" ><br><br>
            <h3>Ingrese su CÓDIGO para jugar </h3><br><br>
            <input name="code" type="text" ng-model="code" pattern=".{4,}" required >
            <br><br>
            <button class="btn btn-primary" ng-disabled="userCode.$invalid" type="submit">Ingresar</button>
          </div>
        </div>

      </form>

      <script type="text/javascript" src="js/jquery-3.2.1.js"></script>
      <script type="text/javascript" src="js/angular.min.js"></script>
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/controller.js"></script>


    </body>
  </html>
