<!DOCTYPE html>
  <html ng-app="app">
    <head>
      <meta charset="utf-8">
      <title> #{localName} - Felicidades</title>
      <meta name="viewport" content-type="application/javascript" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="../../css/prize.css"
    </head>
    <body>
      <form action="/confirmarPremio/#{prizeName}/#{idPrize}/#{idUser}/#{localName}/#{branchName}" method="GET" onsubmit="return confirm('Importante! Muestra esta pantalla al garzón/cajero');">
        <div class="yami">
          <div class="form-group">
            <br>
            <br>
            <img src="#{localLogo}" alt="Logo local" class="img-responsive center-block" height="100" width="100"><br><br>
            <img src="#{prizeImage}" class="img-responsive center-block" height="100" width="100" alt="Premio"><br><br>
            <h3> Felicidades te has ganado #{prizeName} En #{localName} #{branchName}</h3><br><br>
            <button class="btn btn-primary btn-lg" type="submit">Confirmar</button>
          </div>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../../js/bootstrap.min.js"></script>

      </form>
    </div>

    </body>
  </html>
