<!DOCTYPE html>
  <html ng-app="app">
    <head>
      <meta charset="utf-8">
      <title> #{localName} - Felicidades</title>
      <meta name="viewport" content-type="application/javascript" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="../../css/prize.css"
    </head>
    <body>
      <form action="/confirmarPremio/#{prizeName}/#{idPrize}/#{idUser}/#{localName}/#{branchName}" method="GET" onsubmit="return confirm('Importante! Muestra esta pantalla al garzón/cajero');">
        <div class="yami">
          <div class="form-group">
            <img src="#{localLogo}" alt="Logo local" class="img-responsive center-block" height="100" width="100">
            <img src="#{prizeImage}" class="img-responsive" height="200" width="700" alt="Premio"><br>
            <button class="btn btn-success btn-lg" type="submit">Canjear</button>
            <h4 align="center"><strong>Tu premio es #{prizeName} en #{localName} #{branchName}</strong></h3><br>
            <img src="../../img/Powered-By-Yami.png" alt="Powered By Yami" class="img-resposive center-block" height="40" width="80">
          </div>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../../js/bootstrap.min.js"></script>

      </form>
    </div>

    </body>
  </html>
