<!DOCTYPE html>
  <html ng-app="app">
    <head>
      <meta charset="utf-8">
      <title>Yami - Bienvenido</title>
      <meta name="viewport" content-type="application/javascript" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
      <link rel="stylesheet" text="text/css" href="./css/style.css">
    </head>
    <body ng-controller="UsersController">
      <form name="userPhone" action="/code" method="POST">
        <div class="yami">
          <div class="form-group">
            <img src="./img/9990421.png" alt="Logo Yami" ><br><br>
            <h3>Ingrese su número de teléfono móvil: </h3><br><br>

            <select>
              <option value="+56">+56</option>
            </select>
              <input name="phone" type="text" ng-model="phone" pattern="[9][0-9]{8}" placeholder="912345678" required >
            <br><br>
            <button class="btn btn-primary" ng-disabled="userPhone.$invalid" type"submit">Ingresar</button>
          </div>
        </div>

      </form>

      <script type="text/javascript" src="js/jquery-3.2.1.js"></script>
      <script type="text/javascript" src="js/angular.min.js"></script>
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/controller.js"></script>
    </body>
  </html>
