<!DOCTYPE html>
  <html ng-app="app">
    <head>
      <meta charset="utf-8">
      <title>Yami - Código Ingresado Correctamente</title>
      <meta name="viewport" content-type="application/javascript" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
      <link rel="stylesheet" text="text/css" href="../css/style.css">
    </head>
    <body ng-controller="UsersController">
      <form name="userPhone" action="/code" method="POST">
        <div class="yami">
          <div class="form-group">
            <img src="../img/9990421.png" alt="Logo Yami" ><br><br>
            <font color="white"><h3>Felicidades ya tienes tu punto Ruleta. Te llegará un SMS con un link para que puedas jugar. </h3></font><br><br>
            <img src="../img/lentes.png" alt="Lentes" >
            <br><br>
          </div>
        </div>
      </form>

      <script type="text/javascript" src="../js/jquery-3.2.1.js"></script>
      <script type="text/javascript" src="../js/angular.min.js"></script>
      <script type="text/javascript" src="../js/bootstrap.min.js"></script>
      <script type="text/javascript" src="../js/controller.js"></script>
    </body>
  </html>
