<!DOCTYPE html>
  <html ng-app="clock">
    <head>
      <meta charset="utf-8">
      <title>#{localName} - Promoción</title>
      <meta name="viewport" content-type="application/javascript" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      <link rel="stylesheet" type="text/css" href="../../../../../css/bootstrap.min.css">
      <link rel="stylesheet" text="text/css" href="../../../../../css/prize.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>
    <body>
      <form name="promoConfirmed" action="" method="POST">
        <div class="yami">
          <div class="form-group">
            <img src="#{localLogo}" alt="Logo local" class="img-responsive center-block" height="50" width="50"><br>
              <img src="#{promotionImage}" class="img-responsive center-block" height="100" width="600" alt="Promo">
            if numberType == 1
              div(class='')
                h2(class='text-center') <small> ven con #{promotion} amig@/s </small>
                h2(class='text-center') Y llévate un/@s #{giftName}
            if numberType == 2
              div(class='')
                h2(class='text-center') <small> compra un mínimo de $#{promotion} </small>
                h2(class='text-center') Y llévate un/@s #{giftName}
            if numberType == 3
              div(class='')
                h2(class='text-center') <small> Felicidades tienes un #{promotion}% de descuento </small>
                h2(class='text-center') En #{giftName}
            <button class="btn btn-success btn-lg" type"submit">Canjear</button><br><br>

            div(ng-controller='TimeCtrl')
              <p> {{ theclock}} </p>

            <img src="../../../../../img/Powered-By-Yami.png" alt="Powered By Yami" class="img-resposive center-block" height="25" width="80">
          </div>
        </div>

      </form>
      <script type="text/javascript" src="../../../../../js/angular.min.js"></script>
      <script type="text/javascript" src="../../../../../js/clock.js"></script>
      <script src="https://code.angularjs.org/1.6.4/angular-route.min.js"></script>
      <script src="https://code.angularjs.org/1.6.4/angular-resource.min.js"></script>
      <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
      <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    </body>
  </html>
