<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Yami - Ruleta</title>
<meta name="viewport" content-type="application/javascript" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../../css/bootstrap.css">
</link>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-lightness/jquery-ui.css">
<link rel="stylesheet" href="../../css/bootstrap-responsive.css">
</link>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/ui-lightness/jquery-ui.css">
<link rel="stylesheet" href="../../css/demo.css">
</link>
</head>
<body>
<div class="yami">
<div class="page-header" style="">
<img src="../../img/Logo-Blanco-Transparente.png" alt="Logo Yami" class='img-responsive center-block' height="200" width="200">
</div>
<div class="machine">
<div class="roulette_container" >
<div class="roulette" style="display:none;"> <img src="../../img/star.png"/ class='img-responsive center-block'> <img src="../../img/flower.png"/> <img src="../../img/coin.png"/> <img src="../../img/mshroom.png"/> <img src="../../img/chomp.png"/> </div>
</div>
</div>
<div class="btn_container">
<p>
<button class="btn btn-large btn-primary start"> JUGAR </button>
<button class="stop btn-large btn btn-warning"> PARAR </button>
</p>
</div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
<script src="../../js/roulette.js"></script>
script.
    var prob = '#{prizeProb}'
    var phone = '#{userPhone}'
    var idUser = '#{idUser}'
    var idPrize = '#{prizeId}'
    var prizename = '#{prizeName}'
    var code = '#{code}'
    var localName = '#{localName}'
    var branchName = '#{branchName}'
script(src='../../js/demo.js')
</body>
</html>
