<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Encuesta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../css/survey.css">
    <script type="text/javascript" src="../../js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
  </head>
  <body>
    div(class='container')
      div(class='page-header')
        h1 Local <small>por favor responde a esta encuesta</small>
      div(class='container')
        each question in questions
          - var quest = question.question
          div(class='col-md-2')
          div(class='col-md-8')
            if question.type == 'star'
              div(class='panel panel-default', ng-controller='StarController as star')
                div(class='panel-heading text-center') <h4> #{quest} </h4>
                div(class='panel-body text-center')
                  div( star-rating, ng-model='star.rating', on-rating-select='star.rateFunction(star)')
            if question.type == 'rating'
              div(class='panel panel-default text-center')
                div(class='panel-heading') <h4> #{quest} </h4>
                div(class='panel-body text-center')
                  div(class='btn-group', data-toggle='buttons')
                    label(class='btn btn-default')
                      input(type='radio', autocomplete='off')
                      | Muy Mala
                    label(class='btn btn-default')
                      input(type='radio', autocomplete='off')
                      | Mala
                    label(class='btn btn-default')
                      input(type='radio', autocomplete='off')
                      | Regular
                    label(class='btn btn-default')
                      input(type='radio', autocomplete='off')
                      | Buena
                    label(class='btn btn-default')
                      input(type='radio', autocomplete='off')
                      | Muy Buena

  script(src='../../js/angular.min.js')
  script(src='../../js/star-question.js')
  <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
  <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
  </body>
</html>
