<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../css/survey.css">
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
  </head>
  <body>
    each question in questions
      if question.type == 'star'
        div(class='col-md-2')
        div(class='col-md-8')
          div(class='panel panel-default')
            div(ng-controller='StarController as star', class='container')
              div(class='panel-heading')
              h2= question.question
              div(class='panel-body', star-rating, ng-model='star.rating', on-rating-select='star.rateFunction(star)')
      if question.type == 'rating'

  script(src='../../js/angular.min.js')
  script(src='../../js/star-question.js')
  </body>
</html>
